*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  background: url("https://i.gifer.com/1ez9.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
